/* all media */
.exam-board{
    position: fixed;
    right: 0px;
    top:0px;
    width: 25%;
    height: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
    z-index: 3;
    padding: 15px;
}

.question-board{
    width: 75%;
    min-height: 1000px;
}

.time{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid gray;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.wrap-number{
    margin-top: 15px;
}

.number-question{
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .7);
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    float: left;
    margin:5px 7.1px;
}

button{
    width: 95%;
    margin-top: 15px;
    height: 40px;  
    border: none;
    outline: none;
    font-weight: 800;
    background-color: #f1356d;
    color: white;
    border-radius: 8px;
    position: absolute;
    right: 7.5px;
    bottom: 15px;
}

/* mobile phone view */
@media(max-width:600px){

}

/* tablet view */
@media(min-width:992px){
    .exam-board{
        width: 25%;
    }

    .exam-question{
        width: 75%;
    }
}