/* all media */
.wrap-login{
    box-shadow: 0px 0px 6px rgba(0, 0,0,.7);
    width: 100%;
    min-height: 340px;
    border-radius: 13px;
    margin-top:25%;
    padding: 30px 20px;
}

.title-login{
    text-align: center;
    margin-bottom: 30px;
}

.wrap-input{
    width: 100%;
    min-height: 60px;
    margin: 30px 0px;
    position: relative;
}

label{
    font-size: 18.5px;
    position: absolute;
    top:15px;
    left: 15px;
    pointer-events: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: .3s ease-in-out;
}

input{
    margin: 0px;
    width: 100%;
    height: 60px;
    outline: none;
    border: 2px solid #4d4d53;
    padding-top: 15px;
    border-radius: 8px;
    padding-left: 13px;
}

input:focus~label,
input:valid~label{
    top:5px;
    font-size: 12px;
    transition: .3s ease-in-out;
}

.wrap-eye-view{
    width:50px;
    height: 50px;
    position: absolute;
    top:5px;
    right:2.5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;
}

button{
    width: 100%;
    border-radius: 13px;
    height: 50px;
    background-color: #f1356d;
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    position: absolute;
    margin-top: -70px;
    width: 90%;
    left: 5%;
}

/* mobile phone view*/
@media(max-width:600px){
    .wrap-login{
        position: fixed;
        top:0;
        bottom: 0; 
        left: 0;
        right: 0;
        width:100%;
        height: 100%;
        border-radius: 0;
        padding:30px 15px;
        margin-top: 0px;
    }

    .title-login{
        margin:15px 0px;
        margin-bottom: 45px;
    }

    .wrap-input{
        margin: 30px 0px;
    }

    button{
        position: fixed;
        bottom: 45px;
        left: 3.5%;
        right: 2%;
        width: 93%;
    }
}

/* dekstop view */
@media(min-width:992px){
    .wrap-login{
        min-height: 370px;
        margin-top:25;
        padding: 30px;
        position: relative;
    }

    .title-login{
        margin-bottom: 35px;    
    }

    .wrap-input{
        margin: 30px 0px;
    }

    label{
        font-size: 18.5px;
    }

    input{
        font-size: 17px;
    }

    button{
        position: absolute;
        margin: 0px;
        margin-top: -85px;
        font-size: 20px;
        width: 85%;
        margin-left: 2.5%;
    }

}